In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('Twitter_data_for_Jupiter.csv')
data.head()

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data.isnull().sum()

In [ ]:
b = data['Time Zone']
b

In [ ]:
data.columns

In [ ]:
b = data[' Time Zone ']
b.head()

In [ ]:
for dat in data[' Time Zone ']:
    if 'Yerevan' in dat:
        print (dat)

In [ ]:
for dat in data[' Time Zone ']:
    if 'Central Time (US & Canada)' in dat:
        print(dat)

In [ ]:
melted_data = pd.melt(data, value_vars=[' Time Zone '], 
                      var_name='Time_zone_column', value_name='Time_zone')

In [ ]:
Melted_group = melted_data.groupby(by=['Time_zone_column', 'Time_zone'])['Time_zone'].count()
Melted_group.head()

In [ ]:
Melted_group.describe()

In [ ]:
Melted_group.max()

In [ ]:
Melted_group[Melted_group.values == 1013]

In [ ]:
aa = pd.DataFrame(Melted_group)
aa.sort_values('Time_zone', ascending=False)